data
*.code-workspace
.venv
config.tech.yaml
config.content.yaml
db/*.db
db/*.db-*
!db/models.py
__pycache__
*.pyc
.github/
logs/
.mailmap
docs/ADMIN_BACKEND_CONCEPT.md
connectors/.env
connectors/proxy/data/
